.main {
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(249, 191, 21);
  background-image: url("/erdrick_symbol.png"),
    radial-gradient(circle, rgba(249, 191, 21, 1) 0%, rgba(154, 14, 149, 1) 41%, rgba(34, 11, 65, 1) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.infoTable {
  background-color: #9a0e95;
  padding: 1px;
  border-radius: 10px;
  opacity: 0.8;
  width: 100%;
}

.infoTable tr {
  border-radius: 5px 5px 0px 0px;
  color: #000;
  background-color: #f9bf15;
}

.infoTable td {
  background-color: #220b41;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 20px;
  /* white-space: nowrap; */
}

.infoTable a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  background-color: #6b0a68;
  transition: ease-in-out 200ms;
}

.infoTable a:hover {
  cursor: pointer;
  background-color: #af0baa;
  -webkit-box-shadow: 10px 10px 54px -1px rgba(154, 14, 149, 1);
  -moz-box-shadow: 10px 10px 54px -1px rgba(154, 14, 149, 1);
  box-shadow: 10px 10px 54px -1px rgba(154, 14, 149, 1);
}

.cdDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.cdButtons {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: #6b0a68;
  transition: ease-in-out 200ms;
}

.cdButtons:hover {
  cursor: pointer;
  color: #000;
  font-weight: bold;
  background-color: #f9bf15;
  -webkit-box-shadow: 10px 10px 95px 7px rgba(249,191,21,1);
  -moz-box-shadow: 10px 10px 95px 7px rgba(249,191,21,1);
  box-shadow: 10px 10px 95px 7px rgba(249,191,21,1);
}
