.loadingDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15rem 0;
  }
  
  .loadingQuotes {
    text-align: center;
  }
  
  .loadingImage {
    display: flex;
    align-self: center;
  }